.report-diagnosis-section .areaClassReport{
  height: 80%;
}
.report-wrapper {
  flex-grow: 1;
  height: 100%;
  //overflow: auto;

  .report {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #b2b2b2;
    width: 800px;
    height: 1131px;
    margin: 0 auto 20px auto;

    .report-status-stamp {
      position: absolute;
      top: 0;
      right: 0;
    }

    .report-header {
      padding: 10px;
      border-bottom: 1px solid #b2b2b2;
      text-align: center;

      h2 {
        line-height: 40px;
        margin-bottom: 0;
      }

      img {
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }

      p {
        margin-bottom: 0;
      }
    }

    .report-info-section {
      padding: 10px;
      border-bottom: 1px solid #b2b2b2;
    }
      // .ant-col-8 {
      //   line-height: 30px;
      // }

    .report-image-section {
      padding: 10px;
      border-bottom: 1px solid #b2b2b2;
      // height: 34%;
      flex-basis: 300px;
      flex-grow: 1;

      .report-image-wrapper {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 560px;

        .anticon {
          position: absolute;
          right: 5px;
          top: 5px;
          font-size: 20px;
          color: #fff;
          background-color: #f5222d;
        }

        img {
          width: 100%;
        }
      }

    }

    .report-lung-nodule-section {
      
    }

    .report-diagnosis-section {
      padding: 10px 10px 0 10px;
      height: 30%;
    }

    .report-footer {
      padding: 10px;
      font-size: 12px;

      .ant-row:first-of-type {
        border-bottom: 1px solid #b2b2b2;
      }

      .ant-row {
        div:nth-of-type(1) {
          text-align: left;
        }

        div:nth-of-type(2) {
          text-align: center;
        }

        div:nth-of-type(3) {
          text-align: right;
        }
      }
    }
  }
}

.report-wrapper.CT {
  .report .report-image-section .report-image-wrapper {
    display: block;
    position: relative;
    float: left;
    margin: 14px;
    width: 230px;
  }
}
