@media screen and (orientation:portrait) {
  .nodule-panel .ant-pagination-item-link{
    color:#fff;
  }
  .aside .ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane{
    height: 100%;
  }
  .aside .nodule-panel:last-child{
    border-right: 1px solid #464646;
  }
  .ct-viewer-container .views .x-view, .ct-viewer-container .views .y-view{
    width: 40%;
    height: 50%;
    border:1px solid #3e3e3e;
  }
  .aside .ant-row .nodule-panel .nodule-table .ant-table-pagination.ant-pagination{
    position: absolute;
    bottom:20px;
    right: 0px;
  }
  .aside .ant-row  .ant-spin-nested-loading,.aside .ant-row .ant-table-wrapper ,.aside .ant-row .ant-spin-container{
    height: 100%;
  }
  .aside .ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane:first-child{
     display: flex;
   }
  .aside .ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane{
    display: flex;
    position: absolute;
    top: 30px;
  }
  .aside .ant-row .nodule-panel .nodule-table .action-btns, .aside .ant-row .nodule-panel .nodule-table .ant-pagination-total-text{
    bottom:32px;
  }
  .aside .ant-row,.aside .ant-row>div,.aside .ant-row>div>.ant-tabs,.aside .ant-row .ant-tabs-content,.aside .ant-row .tabpanel,.aside .ant-row  .nodule-table,.aside .ant-row .tabpanel{
    height: 100%;
  }
  .ct-viewer-container .views .z-view{
    width: 60%;
    height: 100%;
    border-bottom: 1px solid #3e3e3e;
  }
  #ct-viwer-page .logo{

  }
  .aside .nodule-panel .nodule-table{
    border-bottom:0px;
  }
  .asideContiner{
    width: 100%;
    height: 35.9%;
    overflow-x: hidden;
    border: 1px solid #3e3e3e;
  }
  @media (min-width: 992px){
   .aside .ant-col-lg-20 {
      display: block;
      box-sizing: border-box;
      width: 100%;
    }
  }
  .aside .nodule-panel{
     width: 55%;
     border-right: 1px solid #3e3e3e;
   }
  .aside .ant-table .ant-table-tbody>tr>td{
    border-bottom: 1px solid #464646;
  }
  .aside .ant-table .ant-table-body{
    border-bottom: 1px solid #464646;
  }
  .aside .asideFormTab{
    padding: 1rem;
    top: 0px;
    width: 55%;
    margin-top: -28px;
    padding-top: 40px;
    border-left: 1px solid #464646;
    .ant-form{
      height: 100%;
      .textAreaLable{
        height: 93%;
        .ant-form-item-control{
          height: 100%;
          #msg{
            height: 90%;
          }
        }
        .ant-form-item-label{
          height:8%;
        }
      }
    }
  }
  .aside .asideFormTab .button-group{
    text-align: right;
    margin-top: 0px;
  }
  #ct-viwer-page {
    display: block;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;

    .aside {
      position: relative;
      width: 100%;
      flex-basis: 100%;
      height: 100%;
      flex-shrink: 0;
      background-color: #000;
      border-right: 1px solid #3e3e3e;
      .ant-table-thead>tr>th{
        color:#fff;
      }
      .ct-viewer-toolbar {
        flex-basis: 64px;
        height: 64px;
        margin-bottom: 4px;

        ul {
          overflow: hidden;
          list-style: none;
          padding: 0;
        }

        ul>li {
          float: left;
          color: #fff;
          cursor: pointer;
          margin: 10px;

          .anticon {
            display: block;
            font-size: 30px;
          }

          span {
            text-align: center;
          }
        }

        ul>li.active {
          color: #1890ff;
        }
      }

      .ant-tabs-bar {
        border-bottom: none;
      }

      .ant-tabs-nav-container {
        height: 30px;
      }

      .ant-tabs-nav {
        width: 100%;

        .ant-tabs-tab {
          margin-right: 3px;
          width: 110px;
          color: #fff;
          text-align: center;
          background-color: #383838;
          line-height: 30px;
          border: 1px solid #383838;
        }

        .ant-tabs-tab.ant-tabs-tab-active {
          background-color: #000;
          border: 1px solid #1890ff;
          color: #1890ff;
        }
      }

      .nodule-info-editor {
        color: #fff;
        padding: 10px;

        .ant-row {
          margin-bottom: 5px;
        }

        .selector-list {
          width: 160px;
        }
      }
    }
    .content {
      display: flex;
      flex-grow: 1;
      position: relative;
      //flex-direction: column;
      height: 64%;
      width:100%;

      .ant-row {
        display: flex;
        flex-basis: 50%;
        flex-direction: row;
        flex-grow: 1;
        align-items: stretch;
        height: 100%;
        width:100%;
        // border-bottom: 1px solid #fff;

        .grid-cell {
          height: 100%;
          border: 1px solid #3e3e3e;
        }
      }
    }

    .patient-info {
      // width: 300px;
      // height: 300px;
      position: absolute;
      top:0rem;
      left: 0rem;
      z-index: 1;
      padding:5px;
      font-size:12px;
      // background-color: rgba(0, 0, 0, 0.8);
      font-weight: 500;
      color: #b3b3b3;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      p{
        padding: 0px;
        margin: 0px;
        margin-top:0rem;
        font-size:12px;
      }
    }
  }
}
@media screen and (orientation:landscape) and (max-width: 1600px){
  .aside .asideFormTab{
    width:100%;
  }
}
@media screen and (orientation:landscape) and (max-width: 1600px){
  #ct-viwer-page .asideContiner .aside{
    width:380px;
  }
}
@media screen and (orientation:landscape) and (max-width: 1400px){
  #ct-viwer-page .asideContiner .aside{
    width:390px;
  }

}
@media screen and (orientation:landscape) and (max-width: 1200px){
  #ct-viwer-page .asideContiner .aside{
    width:450px;
  }

}
@media screen and (orientation:landscape) and (max-width: 1100px){
  #ct-viwer-page .asideContiner .aside{
    width:390px;
  }

}
@media screen and (orientation:landscape) {
  .nodule-panel .ant-pagination-item-link{
    color:#fff;
  }
  .asideContiner{
    width:433px;
    overflow-x:hidden;
    height: 100%;
  }
  .asideFormTab{
    position: absolute;
    bottom: 0px;
  }
  #ct-viwer-page .aside .ant-tabs-nav-container-scrolling{
    padding-left: 0px;
    padding-right: 0px;
  }
  .asideContiner .aside>.ant-row,.asideContiner .aside>.ant-row>.asideHeight,.asideContiner .aside>.ant-row>.asideHeight>.ant-tabs{
    height: 100%;
  }
  #ct-viwer-page {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;

    .aside {
      position: relative;
      width: 370px;
      flex-basis: 370px;
      height: 100%;
      flex-shrink: 0;
      background-color: #000;
      padding-top:3rem;
      overflow-y:scroll;
      .ant-table-thead>tr>th{
        color:#fff;
      }
      .ct-viewer-toolbar {
        flex-basis: 64px;
        height: 64px;
        margin-bottom: 4px;

        ul {
          overflow: hidden;
          list-style: none;
          padding: 0;
        }

        ul>li {
          float: left;
          color: #fff;
          cursor: pointer;
          margin: 10px;

          .anticon {
            display: block;
            font-size: 30px;
          }

          span {
            text-align: center;
          }
        }

        ul>li.active {
          color: #1890ff;
        }
      }

      .ant-tabs-bar {
        border-bottom: none;
        display: block;
      }

      .ant-tabs-nav-container {
        height: 30px;
      }

      .ant-tabs-nav {
        width: 100%;

        .ant-tabs-tab {
          margin-right: 3px;
          width: 110px;
          color: #fff;
          text-align: center;
          background-color: #383838;
          line-height: 30px;
          border: 1px solid #383838;
        }

        .ant-tabs-tab.ant-tabs-tab-active {
          background-color: #000;
          border: 1px solid #1890ff;
          color: #1890ff;
        }
      }

      .nodule-info-editor {
        color: #fff;
        padding: 10px;

        .ant-row {
          margin-bottom: 5px;
        }

        .selector-list {
          width: 160px;
        }
      }
    }
    .content {
      display: flex;
      flex-grow: 1;
      position: relative;
      //flex-direction: column;
      height: 100%;
      width:100%;

      .ant-row {
        display: flex;
        flex-basis: 50%;
        flex-direction: row;
        flex-grow: 1;
        align-items: stretch;
        height: 100%;
        width:100%;
        // border-bottom: 1px solid #fff;

        .grid-cell {
          height: 100%;
          border: 1px solid #3e3e3e;
        }
      }
    }

    .patient-info {
      // width: 300px;
      // height: 300px;
      position: absolute;
      top:0rem;
      left: 0rem;
      z-index: 1;
      padding:5px;
      font-size:12px;
      // background-color: rgba(0, 0, 0, 0.8);
      font-weight: 500;
      color: #b3b3b3;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      p{
        padding: 0px;
        margin: 0px;
        margin-top:0rem;
        font-size:12px;
      }
    }
  }
}

