.user-role-buttons{
  position: fixed;
  left: 10px;
  bottom: 10px;

  .ant-row:first-of-type {
    margin-bottom: 10px;
  }

  .ant-btn:disabled {
    color: #333;
    border-color: #333;

    &:hover {
      color: #333;
      border-color: #333;
    }
  }

  .previous {
    margin-right: 10px;
    width: 100px;
  }

  .submit {
    margin-right: 10px;
    width: 100px;
  }

  .next {
    width: 100px;
  }

  .pass {
    margin-right: 10px;
    width: 100px;
    border: none;
    background-color: #5ab261;
  }

  .fail {
    width: 100px;
    border: none;
    background-color: #b7302f;
  }
}
