#ct-follow-up-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;

  .crop-canvas {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .viewer-toolbar {
    flex-basis: 64px;
    height: 64px;

    ul {
      overflow: hidden;
      list-style: none;
      padding: 0;
    }

    ul>li {
      float: left;
      color: #fff;
      cursor: pointer;
      margin: 10px;

      .anticon {
        display: block;
        font-size: 30px;
      }

      span {
        text-align: center;
      }
    }

    ul>li.active {
      color: #1890ff;
    }
  }

  .viewer-content {
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
    flex-grow: 1;
    flex-direction: row;
  }

  .aside {
    position: relative;
    width: 340px;
    flex-basis: 340px;
    height: 100%;
    flex-shrink: 0;
    background-color: #000;
    // background-color: rgba(33, 33, 33, 1);

    .ant-tabs-bar {
      border-bottom: none;
    }

    .ant-tabs-nav-container {
      height: 30px;
    }

    .ant-tabs-nav {
      width: 100%;

      .ant-tabs-tab {
        margin-right: 3px;
        width: 110px;
        color: #fff;
        text-align: center;
        background-color: #383838;
        line-height: 30px;
        border: 1px solid #383838;
      }

      .ant-tabs-tab.ant-tabs-tab-active {
        background-color: #000;
        border: 1px solid #1890ff;
        color: #1890ff;
      }
    }
  }

  .views {
    position: relative;
    flex-grow: 1;

    .view {
      position: relative;
      display: flex;
      flex-direction: column;
      float: left;
      border: 1px solid #fff;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
        border: 1px solid #2fa8e6;
      }

      .view-title {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        line-height: 34px;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        background-color: #3f3f3f;
        color: #1890ff;
        z-index: 1;
      }

      .cornerstone-elm {
        position: relative;
        // flex-grow: 1;
        height: 100%;
        width: 100%;
      }

      .toggle-full-screen {
        position: absolute;
        top: 40px;
        right: 40px;
      }

      .view-footer {
        // flex-shrink: 0;
        // flex-basis: 32px;
        position: absolute;
        right: 4px;
        bottom: 4px;
        height: 32px;
        line-height: 32px;
        text-align: right;
        color: #fff;

        .img-pos {
          display: inline-block;
          width: 70px;
        }

        .ant-btn {
          margin-right: 5px;
        }
      }

      .patient-info {
        // width: 300px;
        // height: 300px;
        position: absolute;
        top: 30px;
        left: 0;
        z-index: 1;
        padding: 20px;
        // background-color: rgba(0, 0, 0, 0.8);
        font-weight: 500;
        color: #b3b3b3;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

    }

    .view.active {
      // border: 1px solid #2fa8e6;

      .view-title {
        background-color: #2fa8e6;
        color: #fff;
      }
    }

    .view-1,.view-2 {
      // width: 70%;
      // height: 100%;

      .info-box {
        position: absolute;
        right: 4px;
        bottom: 50px;
        color: #fff;

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .views .view.full-screen {
    width: 100%;
    height: 100%;
  }

  .views .view.hide {
    display: none;
  }

  .thumbnail-list-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;

    .toggle-collapsed {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

@media all and (orientation: landscape) {
  #ct-follow-up-container {
    .views {
      .view-1 {
        width: 50%;
        height: 100%;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
      }

      .view-2 {
        width: 50%;
        height: 100%;
      }
    }
  }
}

@media all and (orientation: portrait) {
  #ct-follow-up-container {
    .views {
      .view-1 {
        width: 100%;
        height: 50%;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }

      .view-2 {
        width: 100%;
        height: 50%;
        border-left: 1px solid #fff;
      }
    }
  }
}
