.page.reset-page{
  // min-width: 1366px;
  background: url("../../../static/images/login-bg.png") no-repeat 0 0;
  background-size: cover;
  min-height: 100%;
  height: auto;

  .reset-form, .send-success {
    margin: 14% 15% auto auto;
    max-width: 300px;
  }

  .send-success {
    color: #23C0FA;
    text-align: center;

    .anticon.anticon-check-circle-o {
      font-size: 80px;
      margin: 20px auto;
    }

    h2 {
      color: #23C0FA;
    }
  }

  .logo {
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .title{
    width: 310px;
    font-size: 22px;
    color: #23C0FA;
    text-align: center;
    // margin: 14% 15% auto auto;
  }
  .QRcode {
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 2;

    img {
      display: block;
    }
  }
  .QRcode .wechat {
    color: #23C0FA;
    float: left;
  }
  .website {
    position:fixed;
    right: 50%;
    bottom: 20px;
  }
  .website:link {
    color: #23C0FA;
  }
  .website:active {
    color: #23C0FA;
  }
  .website:visited {
    color: #23C0FA;
  }
  .version {
    color: #999;
    text-align: right;
    font-size: 12px;
  }
  .reset-form .engtitle,
  .send-success .engtitle {
    font-size: 16px;
    color: #23C0FA;
    text-align: center;
    margin-bottom: 0;
  }

  .reset-form .reset-form-item {
    margin-top: 30px;
  }

  .reset-form-forgot {
    float: right;
  }

  .reset-form-button {
    width: 100%;
    border: none;
    margin: 4px 0;
  }

  .register-link {
    text-align: center;
  }

}
