#ct-viwer-page {
  // .patient-info {
  //   width: 300px;
  //   height: 300px;
  //   position: absolute;
  //   top: 64px;
  //   left: 340px;
  //   z-index: 1;
  //   padding: 20px;
  //   // background-color: rgba(0, 0, 0, 0.8);
  //   font-weight: 500;
  //   color: #b3b3b3;
  //   -webkit-user-select: none;
  //   -moz-user-select: none;
  //   -ms-user-select: none;
  //   user-select: none;
  // }
  //
  .thumbnail-list-container {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
