.signout-btn {
  float: right;

  .user-icon {
    position: relative;
    margin-right: 5px;
    top: -2px;
  }

  .current-user{
    color: #fff;
    margin-right: 10px;
  }

  .signout-icon {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: -1px;
  }
}
