#label-tasks-page {
  .content {
    padding: 20px;
  }

  .content-body {
    display: flex;
    flex-direction: row;

    .task-menu {
      flex-basis: 200px;
    }

    .table-wrapper {
      flex-grow: 1;
      position: relative;
      background-color: #fff;
      padding: 10px;
      min-height: 200px;

      .statistics {
        position: absolute;
        left: 20px;
        bottom: 30px;

        .num {
          color: #1890ff;
        }
      }
    }
  }
}
