.seriesThumbnailItem {
  border: 2px solid black;
  img {
  }
  p {
    height: 20px;
  }
}

.series-name-dropdown-select-item {
  background-color: black;
  color: white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &.ant-select-dropdown-menu-item-selected:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
  }
}

.series-name-select {
  position: absolute;
  width: 100%;
  .ant-select-selection {
    background-color: transparent;
  }

  .ant-select-arrow {
    color: white;
  }
}
