.pHeight{
  height: 30px;
  img{
    margin-top:2px;
  }
}
#study-list-page {
  // padding: 50px;

  .condition-form {
    padding-left: 50px;

    .ant-form-item {
      margin-right: 5px;
    }

    .patient-id {
      width: 105px;
    }

    .patient-name {
      width: 135px;
    }

    .modality {
      width: 105px;
    }

    .body-part {
      width: 105px;
    }

    .study-time {
      width: 235px;
    }

    .gender {
      width: 75px;
    }

    .birthdate {
      width: 115px;
    }

    .result {
      width: 105px;
    }

    .condition-button {
      margin-top: 33px;
      float: right;

      img {
        position: relative;
        top: -2px;
        margin-right: 5px;
        height: 15px;
      }
    }

    .clear-button {
      margin-right: 10px;
    }
  }

  .content {
    padding: 20px;
  }

  .table-wrapper {
    margin: 0 -20px;
    padding: 20px;
    background: #fff;

    .condition-form .ant-form-item-label {
      text-align: center;
    }

    .ant-table-row {
      height: 26px;
      .ant-table-row-expand-icon-cell>span {
        visibility: hidden;
      }
    }

    .ant-table-row.expandable {
      height:26px;
      .ant-table-row-expand-icon-cell>span {
        visibility: visible;
      }
    }

    .ant-table-row td {
      padding: 8px;
      word-break: normal;
    }

    .ant-table-thead th:nth-child(n+3) {
      text-align: center;
    }

    .ant-table-row td:nth-child(n+3) {
      text-align: center;
    }
  }
}
