@blue: #1698fa;


.nodule-panel .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner{
  background: #000;
}
.nodule-panel .ant-pagination-simple{
  margin-right: 20px;
}
.nodule-panel {
  width: 100%;
  height: 100%;
  position: relative;

  .nodule-table {
    position: relative;
    overflow: hidden;
    background-color: #000;
    border-bottom: 1px solid #3e3e3e;

    thead>tr>th {
      // padding: 2px !important;
      // font-size: 12px;
      // text-align: center;
      background-color: #000 !important;
      border-bottom: 1px solid #212121 !important;

      span {
        color: #fff;
        font-size: 12px;
      }
    }

    .ant-table-small {
      border: none;
      border-radius: 0;
      // border-bottom: 1px solid #fff;
      //
      table {
        padding: 0;
      }

      .ant-table-placeholder {
        background: none;
        color: #fff;
      }
    }

    .ant-table-tbody > tr > td {
      border-bottom: none;
    }

    .ant-table-tbody > tr.ant-table-row td {
      background: none;
    }

    // hide select all
    .ant-table-thead .ant-table-selection-column {
      padding: 0 !important;
    }

    thead .ant-table-selection {
      display: block;

      &::after {
        content: url('../../../static/images/screenshot_sm.png');
        position: absolute;
        top: 6px;
        left: 5px;
      }

      .ant-checkbox-wrapper {
        display: none;
      }
    }

    td {
      padding: 2px !important;
      text-align: center;
      color: #fff;
      font-size: 12px;
    }

    .ant-table-thead > tr > th.ant-table-selection-column, .ant-table-tbody > tr > td.ant-table-selection-column {
      width: 40px;
      min-width: 40px;
    }

    .tooltips(@text) {
      content: '@{text}';
      position: absolute;
      top: 20px;
      left: 20px;
      color: #fff;
      display: block;
      width: 100px;
      padding: 5px;
      border-radius: 5px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.9);
      transition: opacity 0.2s ease-in-out 1s;
    }

    td.ant-table-selection-column .ant-checkbox-wrapper {
      display: block;
      position: relative;
    }

    .ant-checkbox-wrapper::after {
      .tooltips('插入截图');

      z-index: -1;
      opacity: 0;
    }

    .ant-checkbox-wrapper:hover::after {
      .tooltips('插入截图');

      opacity: 1;
    }

    .ant-table-row-selected {
      .ant-checkbox-wrapper::after {
        .tooltips('删除截图');

        z-index: -1;
        opacity: 0;
      }

      .ant-checkbox-wrapper:hover::after {
        .tooltips('删除截图');

        opacity: 1;
      }
    }

    .ant-table-row.active {
      background-color: #002447;
      height: 60px;
    }
    .ant-table-row.noActive {
      border-color: inherit;
      height: 60px;
    }

    .ant-pagination-simple-pager {
      color: #fff;

      input {
        width: 42px;
        height: 24px;
        color: #fff;
        background: #000;
        border: 0px;
      }
    }

    .ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link:after,
    .ant-pagination.mini .ant-pagination-next .ant-pagination-item-link:after,
    .ant-pagination-item a {
      color: #fff;
    }

    .ant-pagination-item.ant-pagination-item-active a {
      color: #1890ff;
    }

    .ant-pagination-total-text {
      position: absolute;
      bottom: 12px;
      right: 160px;
      color: #fff;

      .nodule-count {
        color: @blue;
        font-weight: bold;
        margin: 0 4px;
      }
    }

    .ant-table-pagination.ant-pagination {
      margin-left: 8px 0;
    }

    .location {
      height: 30px;
      width: 30px;
    }
    .action-btns {
      overflow: hidden;
      color: #fff;
      padding: 5px;
      position: absolute;
      bottom: 14px;
      left: 4px;

      .anticon {
        float: right;
        font-size: 20px;
        line-height: 20px;
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }

    .select-button-previous{
      position: absolute;
      width: 100px;
      left: 10px;
    }
    .select-button-verify{
      position: absolute;
      width: 100px;
      left: 120px;
    }
    .select-button-next{
      position: absolute;
      width: 100px;
      left: 230px;
    }

    .select-button-pass{
      top: 40px;
      width: 100px;
      left: 10px;
      border: none;
      background-color: #5ab261;
    }
    .select-button-fail{
      top: 40px;
      width: 100px;
      left: 130px;
      border: none;
      background-color: #b7302f;
    }

  .nodule-detail {
    padding: 10px;
    color: #fff;

    .ant-row {
      margin-bottom: 10px;
    }
  }
}
@media screen and (max-width: 1700px){
  #ct-viwer-page .aside{
    padding-right:25px;
  }
}
@media screen and (max-width: 1400px){
  #ct-viwer-page .aside{
    padding-right:45px;
  }
}
@media screen and (max-width: 1100px){
  #ct-viwer-page .aside{
    padding-right: 0px;
  }
}

@media all and (orientation: portrait) {
  .nodule-panel .nodule-table .ant-table-small {
    height: 440px;
  }
}
