.logo {
  height: 64px;
  // background: rgba(255,255,255,.2);
  // margin: 16px 28px 16px 0;
  float: left;
  margin-top:-0.4rem;
  img{
    height:30px;
    margin-top: 12px;
  }

  span {
    line-height: 64px;
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
  }
}


@media all and (orientation: portrait) {
  .logo {
    margin-top:0rem;
    img{
      height:30px;
      margin-top:0px;
    }
    .company-name {
      display: none;
    }
  }

  .viewer-toolbar .tool-button-wrapper {
    margin-left: 50px !important;
  }
}
