.ct-viewer-toolbar {
  background: #000;
  padding: 0 0 0 40px;
  height: 64px;
  line-height: 64px;
  text-align: center;

  .logo>.logo-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    cursor: pointer;
  }

  .image-button {
    position: relative;
    display: inline-block;
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 1px;

    img {
      // display: inline-block;
      position: absolute;
      left: 0.1rem;
      max-width: 48px;
      max-height:48px;
    }

    span {
      position: relative;
      top: 16px;
      color: #ababab;
      font-size: 12px;
    }

    &>.anticon {
      position: absolute;
      top: 1.2rem;
      left: 16px;
      color: #fff;
      font-size: 16px;
    }
  }
}
.wwwc-menu>.ant-dropdown-menu-item>a>span{
  float: left;
}
.wwwc-menu {
  .ant-dropdown-menu-item{
    overflow: hidden;
    .ant-dropdown-menu-item>a {
      display: block;
    }
  }

}
