@import "~antd/dist/antd.less";

@primary-color: #2fa8e6;

// FIXME: better to replace @primary-color used by antd
.ant-btn.ant-btn-primary {
  background-color: @primary-color;
  border-color: @primary-color;
}

html, body, #app, .page {
  height: 100%;
  width: 100%;
  // background-color: #000;
}

.content-title {
  position: relative;
  overflow: hidden;
  line-height: 32px;

  h3 {
    font-size: 18px;
  }
}
