.nodule-panel .ant-pagination-item-link{
  color:#fff;
}

#ct-viwer-page {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;

  .aside {
    position: relative;
    width: 370px;
    flex-basis: 370px;
    height: 100%;
    flex-shrink: 0;
    background-color: #000;
    border-right: 1px solid #fff;
     .ant-table-thead>tr>th{
      color:#fff;
     }
    .ct-viewer-toolbar {
      flex-basis: 64px;
      height: 64px;
      margin-bottom: 4px;

      ul {
        overflow: hidden;
        list-style: none;
        padding: 0;
      }

      ul>li {
        float: left;
        color: #fff;
        cursor: pointer;
        margin: 10px;

        .anticon {
          display: block;
          font-size: 30px;
        }

        span {
          text-align: center;
        }
      }

      ul>li.active {
        color: #1890ff;
      }
    }

    .ant-tabs-bar {
      border-bottom: none;
    }

    .ant-tabs-nav-container {
      height: 30px;
    }

    .ant-tabs-nav {
      width: 100%;

      .ant-tabs-tab {
        margin-right: 3px;
        width: 110px;
        color: #fff;
        text-align: center;
        background-color: #383838;
        line-height: 30px;
        border: 1px solid #383838;
      }

      .ant-tabs-tab.ant-tabs-tab-active {
        background-color: #000;
        border: 1px solid #1890ff;
        color: #1890ff;
      }
    }

    .nodule-info-editor {
      color: #fff;
      padding: 10px;

      .ant-row {
        margin-bottom: 5px;
      }

      .selector-list {
        width: 160px;
      }
    }
  }

  .content {
    display: flex;
    flex-grow: 1;
    position: relative;
    //flex-direction: column;
    height: 100%;
    width:100%;

    .ant-row {
      display: flex;
      flex-basis: 50%;
      flex-direction: row;
      flex-grow: 1;
      align-items: stretch;
      height: 100%;
      width:100%;
      // border-bottom: 1px solid #fff;

      .grid-cell {
        height: 100%;
        border: 1px solid #fff;
      }
    }
  }

  .patient-info {
    // width: 300px;
    // height: 300px;
    position: absolute;
    top: 20px;
    left: 360px;
    z-index: 1;
    padding: 20px;
    // background-color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    color: #b3b3b3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
