.page.login-page{
  // min-width: 1366px;
  background: url("../../../static/images/login-bg.png") no-repeat 0 0;
  background-size: cover;
  min-height: 100%;
  height: auto;

  .login-form {
    margin: 14% 15% auto auto;
    max-width: 300px;
  }

  .logo {
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .title{
    width: 310px;
    font-size: 22px;
    color: #23C0FA;
    text-align: center;
    // margin: 14% 15% auto auto;
  }
  .QRcode {
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 2;

    img {
      display: block;
    }
  }
  .QRcode .wechat {
    color: #23C0FA;
    float: left;
  }
  .website {
    position:fixed;
    right: 50%;
    bottom: 20px;
  }
  .website:link {
    color: #23C0FA;
  }
  .website:active {
    color: #23C0FA;
  }
  .website:visited {
    color: #23C0FA;
  }
  .version {
    color: #999;
    text-align: right;
    font-size: 12px;
  }
  .login-form .engtitle{
    font-size: 16px;
    color: #23C0FA;
    text-align: center;
    margin-bottom: 0;
  }

  .login-form .login-form-item {
    margin-top: 30px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
    border: none;
    margin: 4px 0;
  }

  #login-page {
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .links {
    &>a:last-of-type {
      float: right;
    }
  }

  .language-button {
    width: 100%;
    border: none;
    margin: 4px 0;
  }

}
