
@media screen and (orientation:portrait) {
  #ct-viwer-page {
    // .patient-info {
    //   width: 300px;
    //   height: 300px;
    //   position: absolute;
    //   top: 64px;
    //   left: 340px;
    //   z-index: 1;
    //   padding: 20px;
    //   // background-color: rgba(0, 0, 0, 0.8);
    //   font-weight: 500;
    //   color: #b3b3b3;
    //   -webkit-user-select: none;
    //   -moz-user-select: none;
    //   -ms-user-select: none;
    //   user-select: none;
    // }
    //
    .thumbnail-list-container {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  #ct-follow-up-container .views{
    display: flex;
    height: 65%;
  }
  #ct-follow-up-container .views .view-2 ,#ct-follow-up-container .views .view-1{
    width: 50%;
    height: 100%;
  }
  #ct-follow-up-container .aside{
    width:100%;
    height: 100%;
    overflow-y:auto;
    padding-top: 0rem;
  }
  #ct-follow-up-container .aside .ant-tabs{
    height: 100%;
  }
  #ct-follow-up-container .aside .nodule-panel:last-child{
    width: 100%;
    display: flex;
    height: 34.9%;
    border:1px solid #fff
  }
  #ct-follow-up-container  .aside .nodule-panel .nodule-table{
    width: 50%;
    border-right: 1px solid #383838;
  }
  #ct-follow-up-container  .aside .nodule-panel .nodule-compare-table{
    width: 50%;
    border-left:0px;
    border-bottom: 1px solid #383838;
  }
  #ct-follow-up-container  .aside .nodule-panel .nodule-table .ant-spin-container{
    position: relative;
    zoom: 1;
    height: 100%;
  }
  #ct-follow-up-container  .aside .nodule-panel .nodule-table .ant-spin-nested-loading{
    position: relative;
    height: 100%;
  }
  #ct-follow-up-container  .aside .nodule-panel .nodule-table .ant-table-wrapper{
    height: 100%;
  }
  #ct-follow-up-container  .aside .nodule-panel .nodule-table .ant-pagination{
    bottom: 2px;
    position: absolute;
    right: -10px;
  }
  #ct-follow-up-container .aside .ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane:last-child{
    top:0px;
  }
  #ct-follow-up-container .fellowAside{
    width: 100%;
    height: 100%;
  }
  #ct-follow-up-container .viewer-content{
    display: block;
  }

}
#ct-follow-up-container .aside .ant-tabs-bar{
  display: none;
}
@media screen and (orientation:landscape) and (max-width: 1700px){
  #ct-follow-up-container .aside{
    width: 420px;
  }
}
@media screen and (orientation:landscape) and (max-width: 1400px){
  #ct-follow-up-container .aside{
    width: 440px;
  }
}
@media screen and (orientation:landscape) and (max-width: 1100px){
  #ct-follow-up-container .aside{
    width: 380px;
  }
}
@media screen and (orientation:landscape) {
  #ct-viwer-page {
    // .patient-info {
    //   width: 300px;
    //   height: 300px;
    //   position: absolute;
    //   top: 64px;
    //   left: 340px;
    //   z-index: 1;
    //   padding: 20px;
    //   // background-color: rgba(0, 0, 0, 0.8);
    //   font-weight: 500;
    //   color: #b3b3b3;
    //   -webkit-user-select: none;
    //   -moz-user-select: none;
    //   -ms-user-select: none;
    //   user-select: none;
    // }
    //
    .thumbnail-list-container {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}