.study-snapshot {
  color: #fff;
  position: relative;

  .cornerstone-elm {
    width: 179px;
    height: 179px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;

    p {
      color: #fff;
      margin-bottom: 0;
    }
  }
}
