.ct-viewer-container {
  // display: flex;
  // flex-grow: 1;
  // position: relative;
  // flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;

  .crop-canvas {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .views {
    width: 100%;
    height: 100%;
    // display: flex;
    flex-grow: 1;

    .view.hide {
      display: none;
    }

    .view {
      position: relative;
      display: flex;
      flex-direction: column;
      float: left;
      // border: 1px solid #fff;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .cornerstone-elm {
        position: relative;
        // flex-grow: 1;
        height: 100%;
        width: 100%;
      }

      .toggle-full-screen {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .view-footer {
        // flex-shrink: 0;
        // flex-basis: 32px;
        position: absolute;
        right: 4px;
        bottom: 4px;
        -moz-margin-start:0px 0px 25px 0px;
        height: 32px;
        line-height: 32px;
        text-align: right;
        color: #fff;

        .img-pos {
          display: inline-block;
          width: 80px;
          color: #b3b3b3;
        }

        .ant-btn {
          margin-right: 5px;
          color: #b3b3b3;
          border-color: #b3b3b3;
          float:left;

          &:hover {
            color: #1890ff;
            border-color: #1890ff;
          }
        }
      }
    }

    .z-view {

      .info-box {
        position: absolute;
        right: 4px;
        top: 4px;
        font-size: 12px;
        color: #b3b3b3;

        p {
          margin-bottom: 0;
        }
      }
    }

    .ant-slider{
      position: absolute;
      right: 2px;
      bottom: 100px;
      top:80px;
      height:80%;
    }
  }

  .views.full-screen-z {
    .z-view {
      width: 100%;
      height: 100%;
    }

    .x-view,.y-view {
      display: none;
    }
  }

  .views.full-screen-x {
    .x-view {
      width: 100%;
      height: 100%;
    }

    .z-view,.y-view {
      display: none;
    }
  }

  .views.full-screen-y {
    .y-view {
      width: 100%;
      height: 100%;
    }

    .z-view,.x-view {
      display: none;
    }
  }
}
.views .view .ant-spin-spinning{
  opacity: 1;
  display: inline-block;
  top: 50%;
  position: absolute;
  left: 50%;
}
.views .view .ant-slider-vertical .ant-slider-step{
  width: 10px;
  height: 100%;
  background: rgba(0,0,0,0);
  border: solid 1px #3e3e3e;
  border-radius: 5px;
}
.views .view .ant-slider-vertical .ant-slider-mark{
  display: none;
}
.view .ct-viewer-container .views .ant-slider{
  top: 20px;
}
.views .view .ant-slider .ant-slider-step .ant-slider-dot{
  background:#3d3d3d;
  width: 10px;
  border-radius: 0px;
}
.views .view .ant-slider .ant-slider-handle{
  border-radius: 5px;
  margin: 0px auto;
  width: 10px;
  height: 25px;
  border:solid 1px #cdcdcd;
  background:#8a8989;
  margin-bottom: -12.5px;
}
.views .view .ant-slider-vertical .ant-slider-rail{
  height: 100%;
  width: 10px;
  border-radius: 5px;
  opacity: 0;
}
.views .view .ant-slider-dot{
  margin-left: -3px;
  border:0px;
}
@media all and (orientation: landscape) {
  .ct-viewer-container .views {
    .z-view {
      width: 70%;
      height: 100%;
      border-right: 1px solid #3e3e3e;
    }

    .x-view {
      border-bottom: 1px solid #3e3e3e;
    }

    .x-view, .y-view {
      width: 30%;
      height: 50%;
    }
  }
}

@media all and (orientation: portrait) {
  .ct-viewer-container .views {
    .z-view {
      width: 100%;
      height: 50%;
      border-bottom: 1px solid #fff;
    }

    .x-view {
      border-right: 1px solid #fff;
    }

    .x-view,.y-view {
      width: 50%;
      height: 50%;

      &:before {
        content: '';
        float: left;
        // padding-top: 100%;
      }
    }
  }
}
