.ant-table-expanded-row.ant-table-expanded-row-level-1 {
  background: #f0f0f0;

  .study-history-table.ant-table-row {
    position: relative;
    display: flex;
    flex-direction: row;

    td {
      display: flex;
      height: 26px;
      // flex-shrink: 0;
      justify-content: center;
      align-items: center;
    }

    td:nth-of-type(2) {
      flex-basis: 110px;
    }

    td:nth-of-type(3) {
      flex-basis: 140px;
    }

    td:nth-of-type(4) {
      flex-basis: 80px;
    }

    td:nth-of-type(5) {
      flex-basis: 120px;
    }

    td:nth-of-type(6) {
      flex-basis: 110px;
    }

    td:nth-of-type(7) {
      flex-basis: 110px;
    }

    td:nth-of-type(8) {
      flex-basis: 240px;
    }

    td:nth-of-type(9) {
      flex-basis: 110px;
    }

    td:nth-of-type(10) {
      flex-grow: 1;
    }

    &:hover::after {
      background-color: #e4f7fe;
    }
  }

  .study-history-table.ant-table-row.ant-table-row-selected:hover::after {
    background-color: #f0f0f0;
  }

  .study-history-table.ant-table-row:after {
    content: '';
    width: 150px;
    height: 26px;
    position: absolute;
    top: 0;
    right: -150px;
    background: #f0f0f0;
    border-bottom: 1px solid #e8e8e8;
    transition: all .3s;
  }

  &>td:first-of-type {
    display: none;
  }

  &>td {
    border: none;
  }

  td {
    padding: 0;
  }

  td.ant-table-selection-column {
    width: 50px;
    min-width: 50px;
  }
}

.ant-table-expanded-row:hover > td {
  background: #f0f0f0 !important;
  // background: #fbfbfb;
}
