.upload {
  .drop-zone {
    border: 1px dashed #d9d9d9;
    transition: border-color 0.3s;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    // height: 200px;
    position: relative;
    padding: 16px 0;
    background: #fafafa;

    &:hover {
      border-color: #2fa8e6;
    }
  }

  .drop-zone.drag-over {
    border-width: 2px;
  }

  .drop-zone .ant-upload-drag-icon .anticon{
    font-size: 48px;
    color: #40a9ff;
  }

  .hidden {
    display: none;
  }

  .upload-tips {
    padding: 5px;

    .ant-spin {
      margin-right: 10px;
    }
  }
}
