#dr-viewer-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;

  .viewer-toolbar {
    width: 100%;
    height:3rem;

    ul {
      overflow: hidden;
      list-style: none;
      padding: 0;
    }

    ul>li {
      float: left;
      color: #fff;
      cursor: pointer;
      margin: 10px;

      .anticon {
        display: block;
        font-size: 30px;
      }

      span {
        text-align: center;
      }
    }

    ul>li.active {
      color: #1890ff;
    }
  }

  #viewer-container {
    width: 100%;
    position: relative;
    // height: 100%;
    flex-grow: 1;
  }

  .thumbnail-list-container {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
