.thumbnail-list-container {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  background-repeat: repeat-x;
  background-size: cover;
  transition: height .5s ease-in-out;
  height: 200px;

  &.collapsed {
    height: 0;
    padding: 0;
  }

  .thumb-horizontal {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }

  .thumbnail-list {
    display: flex;
    flex-direction: row;
    height: 200px;
    // width: 2000px;
    overflow-y: hidden;
    list-style: none;
    margin: 0;
    padding: 2px;
    padding: 10px;

    li {
      flex-shrink: 0;
      position: relative;
      margin-right: 10px;
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0);

      .info {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        margin-bottom: 0;
        width: 180px;
        background-color: rgba(0,0,0,0.5);
        padding: 0 5px;
      }

      &.active {
        border: 1px solid #2fa8e6;
      }

      img {
        width: 177px;
      }
    }
  }

  .toggle-collapsed {
    position: absolute;
    width: 60px;
    height: 30px;
    cursor: pointer;
    // background-color: rgba(255, 255, 255, 0.3);
    background-image: url('../../../static/images/button_thumbnail.png');
    background-size: cover;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding: 2px;
    color: #fff;
    left: 50%;
    top: -30px;
    // margin-left: -14px;
    // padding: 2px 6px;
  }
}

// @media all and (orientation: landscape) {
//   .thumbnail-list-container {
//     top: 0;
//     right: 0;
//     height: 100%;
//
//     .thumbnail-list {
//       flex-direction: column;
//       flex-grow: 1;
//       overflow-x: hidden;
//       overflow-y: scroll;
//       width: 200px;
//       height: 100%;
//       transition: width .5s ease-in-out;
//
//       li {
//         margin-bottom: 2px;
//
//         .info {
//           position: absolute;
//           bottom: 0;
//           left: 0;
//         }
//       }
//     }
//
//     &.collapsed .thumbnail-list {
//       width: 0px;
//     }
//
//     .toggle-collapsed.horizontal {
//       top: 50%;
//       left: -20px;
//       margin-top: -14px;
//       padding: 6px 2px;
//     }
//
//     .toggle-collapsed.vertical {
//       display: none;
//     }
//   }
// }

// @media all and (orientation: portrait) {
//   .thumbnail-list-container {
//     bottom: 64px;
//     left: 0;
//     width: 100%;
//     padding: 0 100px;
//
//     .thumbnail-list {
//       flex-direction: row;
//       flex-grow: 1;
//       overflow-x: scroll;
//       overflow-y: hidden;
//       height: 200px;
//       width: 100%;
//       transition: height .5s ease-in-out;
//
//       li {
//         margin-right: 2px;
//
//         .info {
//           position: absolute;
//           bottom: 0;
//           left: 0;
//         }
//       }
//     }
//
//     &.collapsed .thumbnail-list {
//       height: 0px;
//     }
//
//     .toggle-collapsed.vertical {
//       left: 50%;
//       top: -20px;
//       margin-left: -14px;
//       padding: 2px 6px;
//     }
//
//     .toggle-collapsed.horizontal {
//       display: none;
//     }
//   }
// }
