#liver-viewer-container {
  height: 100%;

  .annotationDialog, .relabelDialog {
    z-index: 1000;
    position: absolute;
    margin: 0px;
    left: 40%;
    top: 40%;
    width: 300px;
    border: 1px black solid;
    border-radius: 5px;
  }

  .annotationTextInputOptions {
    padding: 5px 0px;
  }
  .annotationTextInput {
      margin-left: 5px;
  }
  .annotationDialogConfirm {
      float: right;
  }

  .viewer-toolbar {
    flex-basis: 64px;
    height: 64px;
    padding: 0;

    ul {
      overflow: hidden;
      list-style: none;
      padding: 0;
    }

    ul>li {
      float: left;
      color: #fff;
      cursor: pointer;
      margin: 10px;

      .anticon {
        display: block;
        font-size: 30px;
      }

      span {
        text-align: center;
      }
    }

    ul>li.active {
      color: #1890ff;
    }
  }

  .liver-viewer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;

    .aside-liver-viewer {
      width: 341px;
      flex-basis: 341px;
      height: 100%;
      flex-shrink: 0;
      background-color: #000;
      border-right: 1px solid #fff;
    }

    .viewer-content {
      width: 100%;
      position: relative;
      height: 100%;
      flex-grow: 1;
    }

    .cornerstone-elm-wrapper {
      width: 100%;
      position: relative;
      height: 100%;
    }

    .cornerstone-elm {
      width: 100%;
      position: relative;
      height: 100%;
    }

    .diagnosis {
      position: absolute;
      top: 69px;
      // right: 210px;
      color: #fff;
      font-size: 20px;
    }

    .display-none {
      display: none !important;
    }

    .bottom-left-text {
      bottom: 10px;
      left: 20px;
      position: absolute;
      color: white;
    }

    .bottom-right-text {
      bottom: 10px;
      right: 20px;
      position: absolute;
      color: white;

      p {
        margin: 0;
      }
    }
  }

  @media all and (min-width: 1360px) {
    .liver-viewer .diagnosis {
      right: 210px;
    }
  }

  @media all and (max-width: 1360px) {
    .liver-viewer .diagnosis {
      right: 5px;
    }
  }

  .left-side-bar-collapsed {
    width: 0px;
    transition: width .5s ease-in-out;
  }

  .left-side-bar {
    width: 341px;
    transition: width .5s ease-in-out;
  }

}
