.viewer-toolbar {
  background: #001529;
  padding: 0 50px;
  padding-left: 15px;
  height: 64px;
  line-height: 64px;
  text-align: center;

  .tool-button-wrapper {
    display: inline-block;
    margin-left: -292px;

    .logo-image {
      width: 50px;
      height: 50px;
      float: left;
      margin-top: 7px;
    }
  }
}

.image-button {
  position: relative;
  display: inline-block;
  background-repeat:no-repeat;
  background-size: cover;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  img {
    // display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }

  span {
    position: relative;
    top: 16px;
    color: #ababab;
    font-size: 12px;
  }

  &>.anticon {
    position: absolute;
    top: 8px;
    left: 16px;
    color: #fff;
    font-size: 32px;
  }

}

button:focus {outline:0;}
