@blue: #1698fa;

#toggle-left-side-panel {
  cursor: pointer;
  background-color: rgba(20, 20, 20, 0.3);
  font-size: 16px;
  line-height: 16px;
  // padding: 2px;
  z-index: 99999;
  width: 20px;
  padding: 6px 2px;
  color: #fff;
  position: absolute;
  z-index: 9999;
  top: calc(50% + 16px);
  left: 341px;
  transition: left 0.5s ease-in-out;
}

.toggle-left-side-panel-collapsed {
  left: 0px !important;
  transition: left 0.5s ease-in-out !important;
}

.toggle-left-side-panel {
  left: 341px !important;
  transition: left 0.5s ease-in-out !important;
}

.tg {
  border: "2px solid white";
  border-spacing: 0;
}
.tg td {
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: "white";
  overflow: hidden;
}
.tg th {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-color: "white";
  border-width: 1px;
  overflow: hidden;
}
.tg .tg-yw4l {
  vertical-align: center;
  font-size: 10px;
}

td.lr-3 {
  // background-color: yellow;
  // color: white;
  border-width: 1px;
  border-color: "white";
  overflow: hidden;
  // opacity: 0
  // font-size: 10px;
}
td.lr-4 {
  // background-color: orange;
  // color: white;
  border-width: 1px;
  border-color: "white";
  overflow: hidden;
  // opacity: 0
  // font-size: 10px;
}
td.lr-5 {
  // background-color: red;
  // color: white;
  border-width: 1px;
  border-color: "white";
  overflow: hidden;
  // opacity: 0
  // font-size: 10px;
}

.lirads-table-checkbox {
  &:last-of-type {
    font-size: 12px;
  }
}

.tg-yw4l {
  span {
    color: white
  }
}

.lr-3.highlight {
  // opacity: 1 !important;
  background-color: yellow !important;

  span {
    color: black;
  }
}

.lr-4.highlight {
  // opacity: 1 !important;
  background-color: orange !important;

  span {
    color: black;
  }
}

.lr-5.highlight {
  // opacity: 1 !important;
  background-color: red !important;

  span {
    color: black;
  }
}


.nodule-panel {
  width: 100%;
  height: 100%;
  position: relative;

  .toggle-collapsed.horizontal {
    top: 50%;
    width: 10px;
    // left: 20px;
    // margin-top: 14px;
    // padding: 6px 2px;
  }

  .nodule-table-liver {
    position: relative;
    overflow: hidden;
    background-color: #000;
    border-bottom: 1px solid #fff;

    thead > tr > th {
      // padding: 2px !important;
      // font-size: 12px;
      // text-align: center;
      background-color: #000 !important;
      border-bottom: 1px solid #212121 !important;

      span {
        color: #fff;
        font-size: 12px;
      }
    }

    .ant-table-small {
      // height: ;
      border: none;
      border-radius: 0;
      // border-bottom: 1px solid #fff;
      //
      table {
        padding: 0;
      }

      .ant-table-placeholder {
        background: none;
        color: #fff;
      }
    }

    .ant-table-tbody > tr > td {
      border-bottom: none;
    }

    .ant-table-tbody > tr.ant-table-row td {
      background: none;
    }

    // hide select all
    .ant-table-thead .ant-table-selection-column {
      padding: 0 !important;
    }

    thead .ant-table-selection {
      display: block;

      &::after {
        content: url("../../../../static/images/screenshot_sm.png");
        position: absolute;
        top: 6px;
        left: 5px;
      }

      .ant-checkbox-wrapper {
        display: none;
      }
    }

    td {
      padding: 2px !important;
      text-align: center;
      color: #fff;
      font-size: 12px;
    }

    .ant-table-thead > tr > th.ant-table-selection-column,
    .ant-table-tbody > tr > td.ant-table-selection-column {
      width: 40px;
      min-width: 40px;
    }

    .tooltips(@text) {
      content: "@{text}";
      position: absolute;
      top: 20px;
      left: 20px;
      color: #fff;
      display: block;
      width: 100px;
      padding: 5px;
      border-radius: 5px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.9);
      // transition: opacity 0.2s ease-in-out 1s;
    }

    td.ant-table-selection-column .ant-checkbox-wrapper {
      display: block;
      position: relative;
    }

    .ant-checkbox-wrapper::after {
      .tooltips("插入截图");

      z-index: -1;
      opacity: 0;
    }

    .ant-checkbox-wrapper:hover::after {
      .tooltips("插入截图");

      opacity: 1;
    }

    .ant-table-row-selected {
      .ant-checkbox-wrapper::after {
        .tooltips("删除截图");

        z-index: -1;
        opacity: 0;
      }

      .ant-checkbox-wrapper:hover::after {
        .tooltips("删除截图");

        opacity: 1;
      }
    }

    .ant-table-row.active {
      background-color: #1698fa;
    }

    .ant-pagination-simple-pager {
      color: #fff;

      input {
        width: 42px;
        height: 24px;
        color: #000;
      }
    }

    .ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link:after,
    .ant-pagination.mini .ant-pagination-next .ant-pagination-item-link:after,
    .ant-pagination-item a {
      color: #fff;
    }

    .ant-pagination-item.ant-pagination-item-active a {
      color: #1890ff;
    }

    .ant-pagination-total-text {
      position: absolute;
      bottom: 12px;
      right: 138px;
      color: #fff;

      .nodule-count {
        color: @blue;
        font-weight: bold;
        margin: 0 4px;
      }
    }

    .ant-table-pagination.ant-pagination {
      margin-left: 8px 0;
    }

    .location {
      height: 30px;
      width: 30px;
    }

    .action-btns {
      overflow: hidden;
      color: #fff;
      padding: 5px;
      position: absolute;
      bottom: 14px;
      left: 4px;

      .anticon {
        float: right;
        font-size: 20px;
        line-height: 20px;
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }

  .nodule-detail {
    padding: 10px;
    color: #fff;

    .ant-row {
      margin-bottom: 10px;
    }
  }

  @media all and (min-width: 1360px) {
    .nodule-panel {
      .nodule-panel {
        flex-direction: column;
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;
      }
    }
  }
}

@media all and (orientation: portrait) {
  .nodule-panel .nodule-table .ant-table-small {
    height: 440px;
  }
}