#liver-viewer-page {
  .patient-info {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    font-size: 12px;
    left: 0;
    z-index: 1;
    padding: 20px;
    // background-color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    color: #b3b3b3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }  
}
