@media screen and (orientation:portrait) {
  .content .template-aside{
    width: 250px;
    background-color: #ededed;
    padding: 10px;
  }
}

body {
  height: 100%;
}

#report-page {
  background-color:#fff;

  .ant-layout-header .ant-menu-item {
    color: #2fa8e6;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 10px 10px 0px 10px;
    height: 95%;
    position: relative;
  }
    .ant-row {
      height: 100%;
    }
  
  .download-radiomics-button{
    color: #2fa8e6;
  }
}

.template-aside {
  width: 400px;
  background-color: #ededed;
  padding: 10px;
}

.template-list-content {
  overflow-y: scroll;
  height: 200px;
}
