#template-edit-box {
  .button-group {
    text-align: center;
  }

  button {
    display: inline-block;
    margin-right: 10px;
  }
}

.tempalte-wrapper .ant-form-item {
  margin-bottom: 10px;
}

.template-list-container {
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  .template-list-header {
    padding: 4px;
    width: 100%;
    background-color: #c8c8c8;
  }

  .template-list-content {
    padding: 4px;
    background-color: #fff;
  }

  .ant-list-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: #e4f7fe;
    }

    &.selected {
      background-color: #e4f7fe;
    }
  }
}

