.series-thumbnail-list-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);

  .series-thumbnail-list {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    padding: 2px;

    li.active {
      border: 2px solid yellow;
    }

    li {
      position: relative;
    }

    img {
      width: 177px;
    }

    .info {
      color: #fff;
      position: absolute;
      margin-bottom: 0;
      width: 177px;
      background-color: rgba(0,0,0,0.5);
      padding: 0 5px;
    }
  }

  .toggle-collapsed {
    position: absolute;
    cursor: pointer;
    background-color: rgba(20, 20, 20, 0.3);
    font-size: 16px;
    line-height: 16px;
    padding: 2px;
    color: #fff;
  }
}

@media all and (min-width: 1360px) {
  .series-thumbnail-list-container {
    top: 0;
    right: 0;
    height: 100%;

    .series-thumbnail-list {
      flex-direction: column;
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: scroll;
      width: 200px;
      height: 100%;
      transition: width .5s ease-in-out;

      li {
        margin-bottom: 2px;

        .info {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }

    &.collapsed .series-thumbnail-list {
      width: 0px;
    }

    .toggle-collapsed.horizontal {
      top: 50%;
      left: -20px;
      margin-top: -14px;
      padding: 6px 2px;
    }

    .toggle-collapsed.vertical {
      display: none;
    }
  }
}

@media all and (max-width: 1360px) {
  .series-thumbnail-list-container {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 100px;

    .series-thumbnail-list {
      flex-direction: row;
      flex-grow: 1;
      overflow-x: scroll;
      overflow-y: hidden;
      height: 200px;
      width: 100%;
      transition: height .5s ease-in-out;

      li {
        margin-right: 2px;

        .info {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }

    &.collapsed .series-thumbnail-list {
      height: 0px;
    }

    .toggle-collapsed.vertical {
      left: 50%;
      top: -20px;
      margin-left: -14px;
      padding: 2px 6px;
    }

    .toggle-collapsed.horizontal {
      display: none;
    }
  }
}
