body {
  height: 100%;
}

#report-page-liver {
  background-color:#fff;

  .ant-layout-header .ant-menu-item {
    color: #2fa8e6;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
    // height: 93%;
  }
    .ant-row {
      // height: 100%;
    }
}

.template-aside {
  width: 400px;
  background-color: #ededed;
  padding: 10px;
}

.template-list-content {
  overflow-y: scroll;
  height: 200px;
}
