.viewer-toolbar {
  background: #001529;
  padding: 0 2rem;
  height: 3rem;
  line-height:3rem;
  text-align: center;

  .tool-button-wrapper {
    display: inline-block;
    margin-left: 20px;
    float: left;

    .logo-image {
      width: 50px;
      height: 50px;
      float: left;
      margin-top: 7px;
    }
  }
}

.image-button {
  position: relative;
  display: inline-block;
  background-repeat:no-repeat;
  background-size: cover;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  img {
    // display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }

  span {
    position: relative;
    top: 16px;
    color: #ababab;
    font-size: 12px;
  }
}
@media (orientation: portrait){
  .viewer-toolbar .tool-button-wrapper{
    margin-left: 50px !important;
  }
}