#not-found-page {
  text-align: center;

  .content {
    padding-top: 100px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;

    img {
      margin-bottom: 20px;
    }

    h2 {
      color: #aaa;
    }
  }
}
