.aside {
  .ant-tabs-bar {
    margin-bottom: 1px;
  }
}

.nodule-compare-panel {
  .ant-table-row td p {
    margin: 0;
    line-height: 32px;
  }
}
.nodule-table .ant-pagination .ant-pagination-item-link{
  color: #fff;
}
.nodule-table .ant-pagination .ant-pagination-item-link:hover{
  color: #1698fa;
}