.ct-viewer-container {
  // display: flex;
  // flex-grow: 1;
  // position: relative;
  // flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;

  .crop-canvas {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .views {
    width: 100%;
    height: 100%;
    // display: flex;
    flex-grow: 1;

    .view.hide {
      display: none;
    }

    .view {
      position: relative;
      display: flex;
      flex-direction: column;
      float: left;
      // border: 1px solid #fff;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .cornerstone-elm {
        position: relative;
        // flex-grow: 1;
        height: 100%;
        width: 100%;
      }

      .toggle-full-screen {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .view-footer {
        // flex-shrink: 0;
        // flex-basis: 32px;
        position: absolute;
        right: 4px;
        bottom: 4px;
        -moz-margin-start:0px 0px 25px 0px;
        height: 32px;
        line-height: 32px;
        text-align: right;
        color: #fff;

        .img-pos {
          display: inline-block;
          width: 70px;
          color: #b3b3b3;
        }

        .ant-btn {
          margin-right: 5px;
          color: #b3b3b3;
          border-color: #b3b3b3;

          &:hover {
            color: #1890ff;
            border-color: #1890ff;
          }
        }
      }
    }

    .z-view {

      .info-box {
        position: absolute;
        right: 4px;
        bottom: 50px;
        color: #b3b3b3;

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .views.full-screen-z {
    .z-view {
      width: 100%;
      height: 100%;
    }

    .x-view,.y-view {
      display: none;
    }
  }

  .views.full-screen-x {
    .x-view {
      width: 100%;
      height: 100%;
    }

    .z-view,.y-view {
      display: none;
    }
  }

  .views.full-screen-y {
    .y-view {
      width: 100%;
      height: 100%;
    }

    .z-view,.x-view {
      display: none;
    }
  }
}

@media all and (orientation: landscape) {
  .ct-viewer-container .views {
    .z-view {
      width: 70%;
      height: 100%;
      border-right: 1px solid #fff;
    }

    .x-view {
      border-bottom: 1px solid #fff;
    }

    .x-view, .y-view {
      width: 30%;
      height: 50%;
    }
  }
}

@media all and (orientation: portrait) {
  .ct-viewer-container .views {
    .z-view {
      width: 100%;
      height: 50%;
      border-bottom: 1px solid #fff;
    }

    .x-view {
      border-right: 1px solid #fff;
    }

    .x-view,.y-view {
      width: 50%;
      height: 50%;

      &:before {
        content: '';
        float: left;
        // padding-top: 100%;
      }
    }
  }
}
