.nodule-compare-table {
  width: 100%;
  color: #fff;
  text-align: center;

  thead {
    line-height: 30px;
    background-color: #3f3f3f;

    th {
      padding: 0 5px;
    }
  }

  tbody>tr {
    line-height: 30px;

    td:first-of-type {
      text-align: left;
      width: 100px;
      border-right: 1px solid #3f3f3f;
      padding-left: 5px;
    }

    td.malg {
      color: #00aae9;
      font-size: 20px;

      .malg-arrow {
        max-height: 70%;
      }
    }
  }
}
