.register-page{
  // min-width: 1366px;
  background: url("../../../static/images/login-bg.png") no-repeat 0 0;
  background-size: cover;

  .register-form {
    position: absolute;
    right: 15%;
    top: 50%;
    margin-top: -300px;
    max-width: 300px;
  }

  .logo {
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .title{
    width: 310px;
    font-size: 22px;
    color: #23C0FA;
    text-align: center;
    // margin: 10% 20% auto auto;
  }

  .QRcode {
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 2;

    img {
      display: block;
    }
  }
  .QRcode .wechat {
    color: #23C0FA;
    float: left;
  }
  .website {
    position:fixed;
    right: 50%;
    bottom: 20px;
  }
  .website:link {
    color: #23C0FA;
  }
  .website:active {
    color: #23C0FA;
  }
  .website:visited {
    color: #23C0FA;
  }
  .version {
    color: #999;
    text-align: right;
    font-size: 12px;
  }
  .register-form .engtitle{
    font-size: 16px;
    color: #23C0FA;
    text-align: center;
    margin-bottom: 0;
  }

  .register-form-item {
    margin-bottom: 19px;
  }

  .ant-form-item-with-help {
    margin-bottom: 0;
  }

  .register-form-forgot {
    float: right;
  }

  .register-form-button {
    width: 100%;
    border: none;
    margin: 4px 0;
  }

  .links {
    text-align: center;
  }
}
