.language-switch-box {
    width: 100%;
    float: right;
}
.language-switch-box p{
    vertical-align: middle;
}
.language-switch-box-group {
    width: 100%;
    border: none;
    margin: 4px 0;
    float: center;
}
.language-switch-box-button {
    width: 50%;
    border: 1px solid rgb(216, 216, 216);
    margin: 4px 0;
    float: center;
    vertical-align: middle;
    text-align: center;
}
