#viewer-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;

  .patient-info {
    // width: 300px;
    // height: 300px;
    position: absolute;
    p{
      margin: 0px;
      font-size:12px;
    }
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    // background-color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    color: #b3b3b3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .diagnosis {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    height: 100%;
    // font-size: 20px;
    border:1px solid #464646;
    width:180px;
    .listDR{
      width:100%;
      height: 100%;
      border-top:1px solid #464646;
      text-align: center;
      padding-left: 0px;
      li{
        list-style: none;
        color:#fff;
        padding: 10px 0px;
        overflow: hidden;
        span{
          float: left;
          margin-left:30%;
        }
        i{
          float: right;
          margin-right: 10px;
          margin-top: 5px;
        }
      }
      li:hover{
        color:#00A2E2;
        cursor: pointer;
        background: #002447;
        span{
          float: left;
          margin-left:30%;
        }
        i{
          float: right;
          margin-right: 10px;
          margin-top: 5px;
        }
      }
    }
    .abnormal, .normal,.yellowWorn {
      padding: 15px;
      width: 180px;
      height: 70px;
      //border: 2px solid #fc0d1b;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      vertical-align: middle;
      line-height: 1;
    }

    .abnormal {
      font-size: 40px;
      color: #fc0d1b;
    }
    .yellowWorn{
      font-size: 40px;
      color: yellow;
    }
    .normal {
      font-size: 24px;
      color: #41bb35;
      //border-color: #41bb35;
    }
  }

  // .thumbnail-list-container {
  //   position: absolute;
  //   bottom: 0px;
  //   left: 0
  // }

  .load-image-progress-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;

    .ant-progress-text {
      color: #fff;
    }
  }

  .cornerstone-elm {
    width: 100%;
    position:absolute;
    height: 100%;
  }

  .bottom-left-text {
    bottom: 50px;
    left: 20px;
    position: absolute;
    color: white;
  }

  .bottom-right-text {
    bottom: 10px;
    left: 20px;
    position: absolute;
    color: white;

    p {
      margin: 0;
    }
  }
}

// @media all and (orientation: landscape) {
//   #viewer-container .diagnosis {
//     right: 210px;
//   }
// }
//
// @media all and (orientation: portrait) {
//   #viewer-container .diagnosis {
//     right: 5px;
//   }
// }
